
.desc th {
    width: 300px;
}

.scrollable {
    max-height: 200px;
    overflow: auto;
}

.tablas {
    visibility: hidden;
}

.tablas th {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.amarillo tr:hover {
    background-color: #ffff99;
}


