td {
    font: 100% arial;
}

.total {
    font: bold italic 100% arial;
    text-align: right;
}

strong {
    color: red;
    font: bold 200% arial;
}

.desc th {
    width: 400px;
}
.pesos {
    text-align: right;
}

.scrollable {
    max-height: 200px;
    overflow: auto;
}

.tablas {
    visibility: hidden;
}

.tablas th {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.amarillo tr:hover {
    background-color: #ffff99;
}

