body {
    width: 100%;
    max-width: 76mm;
    height: 100%;
    max-height: 110mm;
}

td {
    font: 100% arial;
}

table {
    border-spacing: 6px 6px;
}

.total {
    font: bold 100% arial;
    text-align: right;
}

.pesos {
    text-align: right;
}

