table { border-spacing: 6px 6px; }

input[type=number] {
    text-align: right;
    width: 50px;
}

button[name=cerrar] { color: white; background-color: red; }

button[name=guardar] { color: white; background-color: blue; }

.azul { background-color: white; filter: drop-shadow(4px 4px 2px black); }

.azul:hover { transform: scale(1.2); }

.bold td { font-weight: bold; }

.encontrado { background-color: #aaeedd; }

.modificado { background-color: #00cc44; }

.precio1 { background-color: #e6ccff; }

.amarillo tr:hover > td { background-color: #ffff97; }

.activo {
    font: bold 100% arial;
    color: white;
    background-color: black;
    padding: 3px;
}

.total {
    font: bold italic 100% arial;
    text-align: right;
}

.faltante { color: red; text-decoration: line-through; }

.pesos { text-align: right; }

.rabatt .total { background-color: #e6ccff; }

.marcado td:hover {
    cursor:default;
    font: bold italic 100% arial;
}

.scrollable {
    max-height: 300px;
    overflow: auto;
}

.tablas {
    visibility: hidden;
    cursor: default;
}

.tablas th {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}


.query {
    padding-left: 30px;
    background-color: #ffffff;
}

.carrito {
    display: block;
    position: fixed;
    top: 1%;
    max-height: 60%;
    z-index: 2;
    padding: 5px;
    overflow: auto;
}

.dialogos {
    z-index: 3;
    display: inline-block;
    overflow: auto;
}

.embiggen { display: none; }

.dialogos:hover .embiggen { display: block; }

.trashout {
    background-image: url("svg/trash.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.droit { padding-left: 1em; }

#ticket-count {
    position: absolute;
    padding-left: 12px;
    font-weight: bold;
}

#ticket-total { font: 200% arial; }

#personas {
    width: 100px;
    padding: 0.5rem;
    border-radius: 4px;
}

#personas td:hover {
    cursor:default;
    font: bold italic 100% arial;
}

#resultados td { cursor: copy; }

#keys-resultados { visibility: hidden; }

#myhead {
    display: flex;
    margin: 4px;
    padding: 5px;
    background-color: #3d5a98;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

#myhead > label { color: #ffffff; }

#pacman {
    visibility: hidden;
    padding: 3px;
    align: middle;
    z-index: 7;
}

#busq {
    padding: 0.5rem;
    border-radius: 4px;
    border: 3px solid #ddd;
    background-image: url("svg/search.svg");
    background-repeat: no-repeat;
    background-position: top 50% right 30px;
    padding-left: 5px;
}

#main { 
    width: 95%;
    padding: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

#buscar {
    padding: 5px;
    order: 1;
}

#ticket {
    padding: 5px;
    order: 2;
}

td { font: 70% arial; }


