table { border-spacing: 6px 6px; }

input[type=number] {
    text-align: right;
    width: 50px;
}

button[name=cerrar] { color: white; background-color: red; }

button[name=guardar] { color: white; background-color: blue; }

td[data-pcode] {
    border: solid 2px;
    border-radius: 40px;
    background-image: url("svg/ellipsis.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

td[data-pcode="0"] { background-image: none; }

.trashout {
    background-image: url("svg/trash.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    cursor: pointer;
}

.scrollable {
    max-height: 400px;
    overflow: auto;
}

#myhead {
    display: flex;
    margin: 4px;
    padding: 5px;
    background-color: #3d5a98;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

#myhead label { color: #ffffff; }

#pacman {
    visibility: hidden;
    padding: 3px;
    align: middle;
    z-index: 7;
}

#menu {
    margin:  5px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

#formas {
    margin:  5px;
}

#formas div {
    visibility: collapse;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

.choice:hover { background-color: #cbd7ed; }

div.choice {
    margin: 10px;
    padding: 10px;
    display: flex;
    height: 40px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.choice img {
    height: 35px;
    width: 35px;
}

td {
    font: 90% arial;
    padding: 5px;
}

tfoot { background-color: #e5e5e5; }

